<section class='reviews'>
  <h4>User Review</h4>
  <% @user.reviews.reverse.each do |review| %>
    <dl class="hover">
      <br>
      <dt>Reviewer</dt>
      <dd><%= link_to review.reviewer.name, "/users/#{review.reviewer_id}" %></dd>
      <dt>Feedback</dt>
      <dd class="review"><%= review.content %></dd>
      <dt>Overview</dt>
      <dd><%= review.rating %>/5</dd>
      <%if current_user.id == review.reviewer_id%>
        <dd>
          <%= link_to 'Remove This Review', [review.user, review],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        </dd>
      <%end%>
      <br>
      <br>
    </dl>
  <% end %>
</section>
