<section class="profile">
  <h1>Member Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @user.description %>
  </p>
</section>