<section class="index-map">

  <div class="columns">
    <div class="column">
      Community Enagement Resource, for members of the community supporting eachother through goodwill.
      Beautiful text about our app
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div id="map"></div>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE&callback=initMap">
      </script>
    </div>
  </div>

</section>