<% content_for(:header) do %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE">
  </script>
<% end %>
<%= react_component("App", props:{name:'App'}) %>
<!-- The following tag is a invisible tag which enable me to access data in front end /javascripts/channels/rooms.js. Also, RoomIdArray is a helper from /helpers/events_helper.rb -->
<%= content_tag :div, class: "all_subscribed_rooms_id", data: {id: RoomIdArray(@rooms)} do %>
<% end %>
<!-- <section class="index-map">

  <div class="columns">
    <div class="column">
      Community Enagement Resource, for members of the community supporting eachother through goodwill.
      Beautiful text about our app
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div id="map"></div>


    </div>
  </div>

</section> -->