<% content_for(:header) do %>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE&">
  </script>
<% end %>

<%= react_component("App") %>

<section class="index-map">
  <div class="mission">
      Community Engagement Resource, for members of the community supporting eachother through goodwill.
      <br />Beautiful text about our app


       <button class="button search-events">Search for Events</button>
  </div>

  <div id="map"></div>
</section>

