<%= react_component("App") %>

<section class="index-map">
  <div class="container mission">
      Community Engagement Resource, for members of the community supporting eachother through goodwill.
      <br />Beautiful text about our app
  </div>

  <div id="map"></div>

</section>
