<% content_for(:header) do %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE&callback=initMap">
  </script>
<% end %>
<%= react_component("App") %>

<section class="index-map">
  <div class="container mission">
      Community Engagement Resource, for members of the community supporting eachother through goodwill.
      <br />Beautiful text about our app
  </div>

  <div id="map"></div>

</section>
