<% content_for(:header) do %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE&callback=initMap">
  </script>
<% end %>

<%= react_component("App") %>

<section class="index-map">
  <!-- <div class="transp-bg">&nbsp;</div> -->
  <div class="mission">
    <div class="mission-text is-half is-offset-one-quarter">
      <p>Karma, a social platform connecting you with people and events in your city.</p>
      <p>Helping you discover what you can build, who you can help, and where you can do it.</p>
      <p>Karma, pass it on.</p>
      <br />
      <span class="button search-events is-large">Search for Events</span>
    </div>
  </div>

  <div id="map"></div>
</section>

