<% content_for(:header) do %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE&callback=initMap">
  </script>
<% end %>
<%= react_component("App") %>
<section className="index-map">
  <p>Click here</p>
  <div className="columns">
    <div className="column">
      Community Engagement Resource, for members of the community supporting eachother through goodwill.
      Beautiful text about our app
    </div>
  </div>

  <div className="columns">
    <div className="column">
      <div id="map"></div>
    </div>
  </div>

</section>