.event-header {
  background: url(image-path('index.jpg')) center -100px no-repeat;
  background-size: cover;
  height: 300px;
}

.event-content {
  padding: 15px 0;

  .event-title {
    color: $brandcolor;
  }
}

.user-info {
  .user-name {
    display: block;
    text-align: center;
  }

  .avatar {
    border-radius: 128px;
    margin: 0 auto 5px;
  }

  .user-name {
    color: $brandcolor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.event-info {
  .fa {
    vertical-align: middle;
  }

  .event-icon {
    font-size: $size-6;
  }
}

.event-head {
  margin: 20px 0;
}