.event-header {
  background: url(image-path('index.jpg')) center top no-repeat;
  background-size: cover;
  height: 380px;
}

.event-content {
  padding: 20px 0;

  .event-title {
    color: $brandcolor;
  }
}

.user-info {
  .user-name {
    display: block;
    text-align: center;
  }

  .avatar {
    border-radius: 128px;
    margin: 0 0 5px;
  }

  .user-name {
    color: #999;
    font-size: $size-6;
    text-decoration: underline;
    width: 128px;

    a {
      color: #999;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.event-info {
  .fa {
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .event-icon {
    font-size: $size-6;
  }
}

.event-head {
  margin: 20px 0;
}

.event-date {
  font-size: $size-6;
}

#single-map {
  width: 300px;
  height: 300px;
  position: relative;
}

.event-attendees a {
  color: $brandcolor;
}

/*#map {
  height: 400px;
  width: 100%;
}*/

#myDiv {
   color:Green;
   background-color:#eee;
   border:2px solid #333;
   // display:none;
   text-align:justify;
}

.allEventsContainer {
  position: absolute;
  width: 50%;
  right: 0px;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: right 1s;
  transition: right 1s;
}