/* Variables */
$primary: #eb1478;

.nav {
  background-color: #eee;
}

.nav-item {
  font-size: $size-5;
}

.map-container {

}

#map {
  width: 100%;
}

.mission {
  font-size: 1.5rem;
  padding: 20px 0;
  text-align: center;
}