.nav {
  background-color: #eee;
}

.nav-item {
  font-size: $size-5;
}

main {
  min-height: 520px;
}

#map {
  // position: relative;
  width: 100%;
  height: 610px;
}

.mission {
  background: url(image-path('index.jpg')) center top no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(250,250,250,.5);
  background-size: cover;
  font-size: 1.5rem;
  height: 800px;
  padding: $nav-height 0 0;
  position: relative;
  text-align: center;
  width: 100%;

  .mission-text {
    color: #333;
    font-size: $size-2;
    margin: 0 auto;
    padding: 50px 0 0;
    position: relative;
    z-index: 10;
    width: 55%;
    font-weight: 200;
  }
}

// .index-map {
//   bottom: 0;
//   height: 100%;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 100%;
// }


// .transp-bg {
//   @extend .index-map;
//   background-color: #fff;
//   opacity: 0.5;
//   z-index: 5;
// }

.button {
  background-color: $brandcolor;
  color: #fff;
}

.scroll-top {
  color: $brandcolor;
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  top: 22px;
  left: 47%;
  z-index: 100;
}

.columns:last-child {
  margin-bottom: 0rem;
}

.footer {
  padding: 2rem 1.5rem;

  a {
    color: $brandcolor;
  }
}