.nav {
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .nav-item img {
    height: 60px;
    max-height: 100%;
  }

  .logo-text {
    color: $brandcolor;
    font-size:  $size-3;
    padding-right: 5px;
  }
}

.dropdown-item {
  position: relative;

  .fa {
    vertical-align: middle;
  }

  .fa-user-circle-o {
    margin-right: 6px;
  }

  &.user {
    cursor: pointer;
    color: $brandcolor;
  }
}

.dropdown-menu {
  background-color: #fff;
  border: solid 2px #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  padding: 15px;
  position: absolute;
  text-align: left;
  top: $nav-height;
  right: 0;
}

.login .dropdown-menu {
  height: 220px;
  width: 330px;
}

.user .dropdown-menu {
  width: 175px;
}

.create-event {
  margin: 20px 15px 0;
}