// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//CSS
.user-rating,
.rating-none {
  display: inline-block;
  width: 125px;
  height: 24px;
  vertical-align: middle;
}


.user-rating {
  background-color: #ccc;
  position: relative;

  .rating-none,
  .rating {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .rating-none {
    background: url(image-path('star.png')) left top repeat-x;
    z-index: 100;
  }

  .rating {
    background: #337ab7;
    height: 24px;
    text-indent: -9999px;
    z-index: 3;

    &.rating-0 {
      width: 0px;
    }

    &.rating-1 {
      width: 25px;
    }

    &.rating-2 {
      width: 50px;
    }

    &.rating-3 {
      width: 75px;
    }

    &.rating-4 {
      width: 100px;
    }

    &.rating-5 {
      width: 125px;
    }
  }
}
