#map {
  height: 400px;
  width: 100%;
 }

#myDiv {
   color:Green;
   background-color:#eee;
   border:2px solid #333;
   // display:none;
   text-align:justify;
}
.allEventsContainer {
  position: absolute;
  width: 50%;
  right: 0px;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: right 1s;
  transition: right 1s;
}