
  <div class="content has-text-centered">
    <p>
      <strong><%= link_to "Connect to Your City", '/' %></strong>
    </p>
    <p>
      This project was created by Irina, Michael, Edward and Erica for Lighthouse Labs Final Project.
    </p>
    <span>
      <a class="icon" href="https://github.com/EdwardXyWang/helperCommunity/tree/master">
        <i class="fa fa-github"></i>
      </a>
    <span>
  </div>
