<div class="container">
 <div class="content has-text-centered">
   <p>
      <strong><%= link_to "Connect to Your City", '/' %></strong>
   </p>
   <p>
     This project was created by Irina, Michael, Edward and Erica for Lighthouse Labs Final Project.
   </p>
 </div>
</div>