<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Karma
    </a>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item">
      Signup
    </a>
    <a class="nav-item">
      Login
    </a>
  </div>
</nav>
